img {
  opacity: 1 !important;
}

.fgs-page-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: transparent;
  background-origin: padding-box;
  background-clip: border-box;
  background-attachment: scroll;
  background-image: url("/public/fgsPage/fgsCleanBackground.svg");
}

.sticker {
  position: absolute;
  width: 23rem;
  bottom: 0px;
}
.NewBoardBoard_div1 {
  align-content: space-evenly;
}
.green-heels {
  position: absolute;
  z-index: -1;
  width: 29rem;
}
.sticker-1 {
  left: 10px;
}
.sticker-2 {
  left: 390px;
  width: 25rem;
  bottom: -35px;
  height: 27rem;
}
.sticker-3 {
  bottom: 2px;
  height: 23.2rem;
  left: 780px;
}
.title-shift {
  position: absolute;
  right: 0rem;
  top: 12.6rem;
  height: 7.9rem;
  left: 0px;
  background-color: #d9d9d9;
  z-index: -3;
}

.shift-text {
  position: absolute;
  right: 12rem;
  top: -17px;
  z-index: 16;
  float: 20;
  color: #000;
  font-weight: 700;
  font-size: 9.2rem;
  font-family: "CalasansOutline";
  font-weight: 700;
}

.title-fashion {
  position: absolute;
  top: 0.3rem;
  right: 19rem;
  height: 9rem;
  font-family: "CalasansSolid";
  color: #000;
  font-weight: 700;
  font-size: 7rem;
}
.title-gender {
  position: absolute;
  right: 16.2rem;
  top: 5.8rem;
  height: 105px;
  font-family: "CalasansSolid", "Times New Roman", serif;
  color: #000;
  font-weight: 700;
  font-size: 7rem;
}
.title-and {
  position: absolute;
  right: 13rem;
  height: 155px;
  top: 6rem;
  font-family: "CalasansSolid", "Times New Roman", serif;
  color: #000;
  font-weight: 700;
  font-size: 6rem;
}

.btn-back button {
  font-size: 36px;
  font-weight: bold;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-back {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  width: 9rem;
  background-color: #B5344A;
  padding: 10px 20px;
  z-index: 6;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.btn-back button {
  font-size: 16px;
  font-weight: bold;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  width: 5 rem;
}

.btn-back:hover button {
  font-size: 18px; 
  color: white; 
}


.right-bar {
  align-content: start;
  position: fixed;
  right: 0rem;
  bottom: 0rem;
  top: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  z-index: -1;
  width: 12rem;
  filter: brightness(0.7);
}
.img-heels-1 {
  height: 16rem;
}
.img-heels-2 {
  height: 23rem;
}
.img-heels-3 {
  position: relative;
  bottom: 0rem;
}


