.grey-bg{
    background-image: url('/public/originPage/grey-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.paper-bg{
    position: absolute;
    width: 102.5vw;
    height: auto;
    top: -3.3vw;
    z-index: 2;
}

.origins-early-use {
    position: absolute;
    top: 2vw;
    left: 2vw;
    width: 55vw;
    z-index: 3;
}

.post-it-left {
    position: absolute;
    top: 17.3vw;
    left: 8vw;
    width: 27vw;
    z-index: 4;
}

.post-it-right {
    position: absolute;
    top: 13vw;
    left: 28vw;
    width: 40vw;
    z-index: 4;
}

.left-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 37vw;
    z-index: 2;
}

.left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35vw;
    z-index: 1;
}

.right-middle {
    position: absolute;
    bottom: 0vw;
    right: 34vw;
    width: 35vw;
    z-index: 1;
}

.right-bottom {
    position: absolute;
    bottom: 0vw;
    right: -1vw;
    width: 35.5vw;
    z-index: 2;
}

.text-persian {
    position: absolute;
    bottom: 13vw;
    left: 38vw;
    width: 21vw;
    z-index: 5;
}

.back-btn {
    position: absolute;
    top: 1vw;   
    right: 1vw; 
    background-color: #D1A87A;
    padding: 1vw 3vw;
    z-index: 6; 
    transition: all 0.3s ease;
}

.back-btn button {
    font-size: 2vw;
    font-weight: bold;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-btn:hover button {
    font-size: 2.1vw; 
    color: white; 
}

.back-btn:hover {
    transform: scale(1.05); 
    background-color: #b28f68; 
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
}

.notee {
    position: absolute;
    width: 42vw;
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  
  .notee-img {
    position: absolute;
    width: 21vw;
    height: auto;
    left: 38vw;
    top: 29.5vw;
    z-index: 6;
    object-fit: contain;
    pointer-events: none;
  }
  
  .notee-text-img {
    position: absolute;
    width: 100vw;
    max-width: 95%;
    height: auto;
    z-index: 5;
    top: 13vw;
    left: 28vw;
    display: block;
    pointer-events: none;
  }
  